html,
body {
  height: 150vh; }

.navbar {
  position: absolute !important;
  width: 100% !important;
  background-color: transparent !important;
  transition: 0.15s;
  z-index: 100; }
  .navbar .navbar-toggler-icon {
    color: #ffffff;
    transition: 0.15s; }
  .navbar a {
    color: #ffffff;
    transition: 0.15s; }
    .navbar a:hover {
      color: #ffc107; }
  .navbar .dropdown-menu {
    background-color: #2f2f2f;
    transition: 0.15s; }
    .navbar .dropdown-menu a {
      color: #ffffff; }
      .navbar .dropdown-menu a:hover {
        background-color: #b28704; }
      .navbar .dropdown-menu a:active {
        background-color: #ffc107; }

.navbar-toggler-icon {
  transform: rotate(90deg); }

.scrolled {
  position: fixed !important;
  background-color: #ffffff !important; }
  .scrolled .navbar-toggler-icon {
    color: #2f2f2f; }
  .scrolled a {
    color: #2f2f2f; }
    .scrolled a:hover {
      color: #b28704; }
  .scrolled .dropdown-menu {
    background-color: #ffffff; }
    .scrolled .dropdown-menu a {
      color: #2f2f2f; }
      .scrolled .dropdown-menu a:hover {
        background-color: #b28704; }
      .scrolled .dropdown-menu a:active {
        background-color: #ffc107; }

.hero {
  display: flex;
  height: 100vh;
  background-color: #b28704 !important;
  color: #ffffff; }

.hero-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; }

.henlo {
  height: 25rem;
  width: auto; }

.subheader span {
  font-style: italic;
  font-weight: bold; }

.sponsors {
  background-color: #b28704; }
  .sponsors .sponsor {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .sponsors .sponsor-img {
    height: 25rem;
    width: auto; }
