html,
body {
  height: 150vh; }

.navbar {
  position: absolute !important;
  width: 100% !important;
  background-color: transparent !important;
  transition: 0.15s; }
  .navbar a {
    color: #ffffff;
    transition: 0.15s; }
    .navbar a:hover {
      color: #ffd700; }

.scrolled {
  position: fixed !important;
  background-color: #ffffff !important; }
  .scrolled a {
    color: #2f2f2f; }

.hero {
  display: flex;
  height: 100vh;
  background-color: #2f2f2f !important;
  color: #ffffff; }

.hero-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%; }
